
<div *ngFor="let post of posts"   class="post">
    <app-view-vote></app-view-vote>
    <div class="post-content">
        <div class="post-header">
            <span class="username">
                <span class="user-icon">
                    <img class="icon" src="https://i.redd.it/snoovatar/avatars/5b2c3733-008c-49cc-a002-d795d2d10a1a.png" alt="avatar">
                </span>
                <a routerLink="/user-profile" id="uname">{{post.username}} . </a>
            </span>
            <div class="header-info">
                <span id="post-text">Posted on/</span>
                <span class="reddit"><a routerLink="/view-subreddit">{{post.subredditName}}</a></span>
                <span>{{post.duration}}</span>
            </div>
        </div>
        <div class="post-content-section">
            <a class="post-name" [routerLink]="['/post-details', post.id]">{{post.postName}}</a>
            <p>{{post.description}}</p>
        </div>
        <app-interact [postId]="post.id"></app-interact>
    </div>
</div>
