.vote-section {
    flex: 1;
    max-width: 50px;
    margin: 12px;
}

.upvote{
    padding: 5px 10px;
}

.downvote{
    padding: 5px 10px;
}

.vote-count {
    font-weight: 700;
}

@media screen and (max-width: 544px) {
    .vote-section{
        max-width: 30px;
        padding: 0px;
    }
}

@media screen and (max-width: 520px){
    .vote-section{
        display: none;
    }
}