<div class="w-full h-32 bg-blue-400 mb-4 flex flex-col justify-end">
    <div class="w-24 h-24 self-start mb-2 ml-24 border border-gray-400 rounded-full bg-blue-100 ">
        <img class="w-20 h-24 ml-2 rounded-full" src="https://i.redd.it/snoovatar/avatars/35d032f5-e5f8-4382-9167-e668b7c73779.png" alt="">
    </div>
</div>
<div class="container mx-auto p-4 mt-0">
    <div class="mx-8 bg-white border border-gray-300 rounded-md px-20 py-4">
        <div class="flex flex-row gap-2">
            <span class="material-icons" style="color: rgb(87, 88, 90); font-size: 59px;">groups</span>
            <span class="mt-4 text-3xl font-semibold hover:underline hover:cursor-pointer"> Title </span>
        </div>
        <p class="my-2 text-lg ml-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, asperiores? Magnam magni vero nesciunt distinctio, tempore animi quaerat sed enim, earum suscipit quibusdam optio ducimus aliquam quidem? Esse, in odit.</p>
        <div class="ml-3">
            <span class="info">10 posts </span>
            <span class="info">4 users </span>
            <span class="info">15 comments</span>
        </div>
    </div>
   
  </div>