
<div class="tabs">
    <a routerLink="/user-profile" (click)="displayPosts()">Posts</a>
    <a routerLink="/user-profile" (click)="displaySubreddits()">Subreddits</a>
    <a routerLink="/user-profile" (click)="displayComments()">Comments</a>
</div>
<div class="profile-section">

    <div class="content">
        <app-view-post *ngIf="isPostViewed" [posts]="posts"></app-view-post>
        <app-subreddit-details *ngIf="isSubredditViewed"></app-subreddit-details>
        <app-view-comment *ngIf="isCommentViewed"></app-view-comment>
    </div>


    <div class="side-bar">
         <div class="top-img"></div>
            <img src="https://i.redd.it/snoovatar/avatars/5b2c3733-008c-49cc-a002-d795d2d10a1a.png" alt="">
        <div class="side-bar-content">
            <div>
                <div id="reddit-icon" class="flex flex-row justify-center text-center mb-20"></div>
                <h3 class="inline mx-4 font-bold text-center items-center text-2xl">User</h3>
                <p class="mx-6 text-sm">Your personal Reddit frontpage. Come here to check in with your favorite communities.</p>
            </div>
            <div class="create-section">
                <a routerLink="/post-create" class="create-btn">Create Post <span class="material-icons">post_add</span></a>
                <a routerLink="/subreddit-create" id="subreddit"  class="create-btn">Create Subreddit <span class="material-icons" style="font-size: 25px; background-clip: text; color:rgb(0, 150, 211);">create</span></a>
            </div>
        </div>
    </div>
</div>