
.user-interact-section{
    display: block;
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
}

.user-interact-section button, a{
    /* border: 2px solid rgb(149, 144, 144); */
    border-radius: 30px;
    margin: 4px 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    color: rgb(128, 128, 128);
}

.user-interact-section button:hover, a:hover {
    color: #000;
}

.vote{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.count {
    margin-top: 12px;
    vertical-align: middle;
    font-weight: 700;
}

@media screen and (max-width: 500px){
    #share{
        display: none;
    }
    #more{
        display: none;
    }
}

@media screen and (min-width: 500px){
    .vote{
        display: none;
    }  
}