
<div class="w-full h-full border px-40 bg-white border-gray-300">
    <div class="my-28 bg-white py-4 px-10 border border-gray-300 rounded-md">
        <h2 class="py-4 text-xl font-bold text-gray-700">Create Subreddit</h2>
        <div>
            <input class="mt-1 p-2 w-full border border-gray-400 rounded-md" type="text" id="title" placeholder="Title" name="name">
            <textarea class="mt-1 p-2 w-full h-28 border border-gray-400 rounded-md"  id="subreddit" placeholder="description"></textarea>
        </div>
        <div class="flex flex-row items-end mt-4 mx-20 justify-end">
         <a routerLink="/"  class="m-4 border border-blue-600 bg-white text-blue-600 font-semibold rounded-lg py-2 px-14" id="discard-btn">Discard</a>
         <button class="m-4 border bg-blue-600  text-white font-semibold rounded-lg py-2 px-16" id="post-btn">Post</button>
        </div>
    </div>

</div>
