
.user-interact-section{
    display: block;
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
}

.user-interact-section button {
    /* border: 2px solid rgb(149, 144, 144); */
    border-radius: 30px;
    margin: 4px 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}



/* comment-button.component.css */

